<table class="table">
    <thead>
        <tr>
            <th colspan="6">Pedidos de esquites</th>
        </tr>
        <tr>
            <th>Persona que ordena</th>
            <th>Dirección</th>
            <th>Ingredientes</th>
            <th>Tamaño</th>
            <th>Precio</th>
            <th>Estado del pedido</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let orden of ordenes">
            <td>{{ orden.personaOrdena }}</td>
            <td>{{ orden.direccionEntrega }}</td>
            <td>{{ orden.ingredientes }}</td>
            <td>{{ orden.tamanio }}</td>
            <td>${{ orden.precio }}</td>
            <td>{{ orden.status }}</td>
        </tr>
    </tbody>
</table>
