<div class="container card">
    <div class="displayTable">
        <div class="displayTableCell">

            <div class="authBlock">
                <h3>¿Olvidaste el Password?</h3>

                <div class="formGroup">
                    <input type="email" class="form-control" placeholder="E-mail" #passwordResetEmail required>
                </div>
                <br>

                <div class="formGroup">
                    <input type="submit" class="btn btn-primary btn-block" value="Restablecer Password" (click)="authService.forgotPassword(passwordResetEmail.value)">
                </div>
            </div>
            <div class="redirectToLogin">
                <span>¿Ya tienes cuenta? <span class="redirect" routerLink="/login">Iniciar sesión</span></span>
            </div>

        </div>
    </div>

</div>