<div style="display: flex; justify-content: center; margin: 10px;">
    <div class="card bg-light">
        <div class="card-header">
            <h1 class="h1">Ingrese la información de su orden</h1>
        </div>
        <div class="card-body">
            <form (ngSubmit)="onSubmit()" #ordenForm="ngForm">
                <div class="form-group">
                    <strong>Ingredientes:</strong>
                    <textarea required id="ingredientes" name="ingredientes" #ingredientes="ngModel" class="form-control" [(ngModel)]="orden.ingredientes"></textarea>
                    <div class="alert alert-danger" [hidden]="ingredientes.valid || ingredientes.pristine">Este campo es obligatorio</div>
                </div>

                <div class="form-group">
                    <label for="tamanio"><strong>Tamaño de la orden:</strong></label>
                    <select class="form-select" id="tamanio" name="tamanio" #tamanio="ngModel" required [(ngModel)]="orden.tamanio">
                    <option *ngFor="let tam of tamanios" [value]="tam.id">{{ tam.descripcion }}</option>
                </select>
                    <div class="alert alert-danger" [hidden]="tamanio.valid || tamanio.pristine">Este campo es obligatorio</div>

                </div>
                <div class="form-group">
                    <label for="persona"><strong>Persona que hace el pedido:</strong></label>
                    <input type="text" id="persona" name="persona" #persona="ngModel" required class="form-control" [(ngModel)]="orden.personaOrdena">
                    <div class="alert alert-danger" [hidden]="persona.valid || persona.pristine">Este campo es obligatorio</div>
                </div>
                <div class="form-group">
                    <label for="direccion"><strong>Dirección de entrega:</strong></label>
                    <input type="text" id="direccion" name="direccion" #direccion="ngModel" required class="form-control" [(ngModel)]="orden.direccionEntrega">
                    <div class="alert alert-danger" [hidden]="direccion.valid || direccion.pristine">Este campo es obligatorio</div>
                </div>
                <br>
                <button type="button" [disabled]="!ordenForm.form.valid" class="btn btn-success" (click)="this.registrarOrden();ordenForm.reset()">
                    Realizar el pedido
                </button>
                <button type="button" class="btn btn-light" (click)="newOrden();ordenForm.reset()">
                    Limpiar
                </button>

            </form>
        </div>
    </div>
</div>