<div style="display: flex; justify-content: center; margin: 10px;">
    <div class="card bg-light">
        <div class="card-header">
            <h1 class="h1">Ingrese la información de su orden</h1>
        </div>
        <div class="card-body">
            <p>
                <strong>Ingredientes:</strong>
                <textarea class="form-control" [(ngModel)]="orden.ingredientes"></textarea>
            </p>
        
            <!-- <div class="row">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Mayonesa" id="mayonesaCheck">
                        <label class="form-check-label" for="mayonesaCheck">
                            Mayonesa
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Queso" id="quesoCheck">
                        <label class="form-check-label" for="quesoCheck">
                            Queso
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Chile" id="chileCheck">
                        <label class="form-check-label" for="chileCheck">
                            Chile
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Crema" id="cremaCheck">
                        <label class="form-check-label" for="cremaCheck">
                            Crema
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Limon" id="limonCheck">
                        <label class="form-check-label" for="limonCheck">
                            Limón
                        </label>
                    </div>
                </div>
            </div> 
            <br> -->
            <p>
                <label><strong>Tamaño de la orden:</strong></label>
                <select class="form-select" [(ngModel)]="orden.tamanio">
                    <option value="1">Chico</option>
                    <option value="2">Mediano</option>
                    <option value="3">Grande</option>
                </select>
            </p>
            <p>
                <label><strong>Persona que hace el pedido:</strong></label>
                <input type="text" class="form-control" [(ngModel)]="orden.personaOrdena">
            </p>
            <p>
                <label><strong>Dirección de entrega:</strong></label>
                <input type="text" class="form-control" [(ngModel)]="orden.direccionEntrega">
            </p>
        
            <table>
                <tr>
                    <td>
                        <button type="button" class="btn btn-success" (click)="this.registrarOrden()">
                            Realizar el pedido
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
